[Unit]
Description=Mount USB Drive on %i
[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/etc/udev-handler/udev-handler-actuator.sh start %i
ExecStop=/etc/udev-handler/udev-handler-actuator.sh stop %i